.icon_color{
    color: #000000;
    padding-top: 100px;
  }
  
  .fa-2xl{
    font-size: 50px;
    padding-top: 50px;
    padding-bottom: 20px;
  }
  
  .p_desc{
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 200;
  }

  span{
    color: #07bded;
  }